body{
  margin:0;
}

.nav-container{
  display:flex;
  flex-direction: row;
  width:100%;
  margin: 0;
  background-color: burlywood;
  list-style-type: none;
}


.nav-item{
  padding: 15px;
  cursor: pointer;
}

.nav-item a{
  text-align: center;
  text-decoration: none;
  color:white;
}
.nav-item:hover{
  background-color: gold;
}
.nav-container{
  position: fixed;
  top:0;
}
header{
  margin-top:80px;
}



h1{
  text-align: center;
  color:burlywood;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.Head{
  text-align: center;
}

#BBody{
  text-align: center;
  margin-bottom: 20px;
}

#IDO{
  text-align: center;
}
