body{
  margin:0;
}

h1{
  text-align: center;
  color:burlywood;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.Head{
  text-align: center;
}

#BBody{
  text-align: center;
  margin-bottom: 20px;
}

#IDO{
  text-align: center;
}
